@use '../../App.scss' as *;

.button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 14px;

    &.primary {
        background-color: $primary-color;
        color: $secondary-color;

        &:hover {
            background-color: rgba($primary-color, 0.8);
        }
    }

    &.outline {
        background-color: transparent;
        color: $secondary-color;
        border: $secondary-color 1px solid;
    }

    &.text {
        color: $secondary-color;
        background-color: transparent;
        border: none;
    }
}