@use  '../../App.scss' as *;

.movieCard {
  border-radius: 12px;
  overflow: hidden;
  background: #141414;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  height: 100%;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);

    img {
      transform: scale(1.05);
    }
  }

  .imageWrapper {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      aspect-ratio: 3/4; // Changed from 2/3 to make image shorter
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    .rating {
      position: absolute;
      top: 10px;
      right: 10px;
      background: rgba(0, 0, 0, 0.8);
      color: $secondary-color;
      padding: 6px 10px;
      border-radius: 6px;
      font-weight: bold;
      z-index: 2;

      span {
        color: #ffd700;
      }
    }
  }

  .content {
    padding: 0.75rem; 
    background: linear-gradient(to bottom, #202020, #141414);
    color: $secondary-color;

    h3 {
      margin: 0 0 0.5rem; 
      font-size: 1.1rem;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .date {
      color: #a0a0a0;
      font-size: 0.875rem;
      margin-bottom: 0.75rem; 
    }

    :global(.button) {
      width: 100%;
      margin-top: 0.5rem;
    }

    .btnView {
        width: 100%;
    }
  }

  .content-skeleton{
    padding: 0.75rem; 
    @include flex(column);
    gap: 4px
  }
}